<app-menuweb></app-menuweb>

<div class="row mx-0 px-0 justify-content-center bg-3 pt-4">
  <div class="col-12 pt-4 mt-4"></div>
  <div class="col-xl-12 text-center mt-4 pt-4">
    <h2 class="fs-48 text-white py-4">Estaciones culturales y escuelas</h2>
  </div>
  <div class="col-xl-10">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          <h3 class="fs-36 text-white">Barrismo Social</h3>
          <img
            src="../assets/img/pic-12.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4 d-flex align-items-center">
        <p class="text-white">
          Barristas al amarillo y rojo vivo arriban al parche, muestran parte de
          la historia, la pasión por el fútbol y el amor por el equipo de la
          ciudad, Deportivo Pereira.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <h3 class="fs-36 text-white">Rap Freestyle</h3>
        <p class="text-white">
          Artistas callejeros que con su música y letras exaltan la ciudad y el
          barrio contando sus vivencias mediante métricas y rimas que llevan a
          la conciencia y la apreciación del talento de barrio, esta estación
          también funciona como escuela donde los más pequeños aprender a
          improvisar y transformar sus anécdotas en rimas
        </p>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          
          <img
            src="../assets/img/pic-13.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          <h3 class="fs-36 text-white">Fuego de tambor</h3>
          <img
            src="../assets/img/pic-14.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4 d-flex align-items-center">
        <p class="text-white">
            Amantes de la percusión y las gaitas rescatan la música tradicional colombiana, resaltando su historia e importancia desde tiempos ancestrales, esta estación tiene una de las escuelas más importantes del proyecto, en donde enseñan a los niños a tocar instrumentos y a rescatar la importancia de nuestra música intentando preservar nuestras raíces.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4 ">
        <h3 class="fs-36 text-white">Danza Urbana</h3>
        <p class="text-white">
            Una estaciones que es una de nuestras más numerosas escuelas, en donde niños, jóvenes y adultos pueden aprender y ejecutar los diferentes ritmos del hip hop y la música latina, brindando shows indescriptibles e imperdibles.
        </p>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          
          <img
            src="../assets/img/pic-15.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          <h3 class="fs-36 text-white">Muralismo y grafiti</h3>
          <img
            src="../assets/img/pic-16.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4 d-flex align-items-center">
        <p class="text-white">
            ¿Haz hecho algún grafiti alguna vez? ¿Alguna vez haz manejado un aerosol? Acá en la Ferro vivirás la experiencia de ser artista por un día, conociendo las historias de algunas de nuestras más de 150 obras, dejando tu firma en el callejón de visitantes y conociendo nuestra escuela de muralismo en donde verás los futuros artistas de nuestro proyecto.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <h3 class="fs-36 text-white">El dragón</h3>
        <p class="text-white">
            Adéntrate a uno de los lugares con más historia y relevancia de nuestro proyecto, conoce el lugar en donde por muchos años era imposible estar y que a día de hoy priman los colores, la vida y la esperanza, disfruta de artistas que mediante la música realizan el cierre del recorrido.
        </p>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          <img
            src="../assets/img/pic-17.webp"
            class="card-img-top efecto1 pt-4"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>
