<app-menuweb></app-menuweb>

<div class="row mx-0 px-0 justify-content-center bg-3 pt-4">
  <div class="col-12 pt-4 mt-4"></div>
  <div class="col-xl-12 text-center mt-4 pt-4">
    <h2 class="fs-48 text-white">Quienes somos</h2>
    <h3 class="fs-36 text-white">¡Somos la ferro!</h3>
  </div>
  <div class="col-xl-10">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
          <img
            src="../assets/img/pic-11.webp"
            class="card-img-top efecto1"
            alt="..."
          />
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12 p-4  d-flex align-items-center">
        <p class="text-white">
          Con esta iniciativa venimos cambiando la realidad social y cultural de
          nuestra comuna que por décadas estuvo sumergida en la vulnerabilidad,
          la pobreza y el olvido, generando ambientes de paz convirtiéndola
          ahora en el eje de transformación cultural más importante de la ciudad
          de Pereira.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
