<app-menuweb></app-menuweb>

<div class="row mx-0 px-0 justify-content-center bg-3 pt-4">
  <div class="col-12 pt-4 mt-4"></div>
  <div class="col-xl-12 text-center mt-4 pt-4 text-white">
    <h2 class="fs-48 ">Grandes eventos del año</h2>
    <h3 class="fs-36 ">Somos el centro del arte y la cultura</h3>
  </div>
  <div class="col-xl-8 text-white text-center">
    <p>No solo por ser la única experiencia permanente de recorrido cultural del eje cafetero sino también por a lo largo del año calendario, logramos crear, producir y ejecutar más de una decena de eventos de gran impacto nacional, y que recogen las diferentes culturas callejeras,  culturales y deportivas.</p> 
    <p>Algunos de los más importantes son:</p>
  </div>
  <div class="col-12 pt-4 mt-4"></div>

  <div class="col-xl-4 text-center">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
            <h3 class="fs-36 text-white">Carrera de los sueños</h3>
          <img
            src="../assets/img/pic-19.webp"
            class="card-img-top efecto1"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4 mt-4"></div>

  <div class="col-xl-4 text-center">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
            <h3 class="fs-36 text-white">El festival nacional del muralismo</h3>
          <img
            src="../assets/img/pic-20.webp"
            class="card-img-top efecto1"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4 mt-4"></div>

  <div class="col-xl-4 text-center">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
            <h3 class="fs-36 text-white">Reinado municipal de la ferro</h3>
          <img
            src="../assets/img/pic-21.webp"
            class="card-img-top efecto1"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4 mt-4"></div>

  <div class="col-xl-4 text-center">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-6 col-md-6 col-12 p-4">
        <div class="overflow-hidden">
            <h3 class="fs-36 text-white">La ferro stunt bike</h3>
          <img
            src="../assets/img/pic-22.webp"
            class="card-img-top efecto1"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
